<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.ffms.persistence.FamilyMapper">
    <select id="getFamilyByFamilyid" parameterType="string" resultType="Family">
            SELECT
          FAMILY.FAMILYID,
          FAMILY.FAMILYNAME,
          FAMILY.FAMILYKEY
    FROM FAMILY
    WHERE FAMILY.FAMILYID = #{familyid}
    </select>

    <select id="getFamilyByFamilyandFamilykey" parameterType="Family" resultType="Family">
            SELECT
          FAMILY.FAMILYID,
          FAMILY.FAMILYNAME,
          FAMILY.FAMILYKEY
    FROM FAMILY
     WHERE FAMILYID = #{familyid}
      AND FAMILYKEY = #{familykey}
    </select>


    <insert id="insertFamily" parameterType="Family">
    INSERT INTO FAMILY
      (FAMILYID, FAMILYNAME,FAMILYKEY)
    VALUES
      (#{familyid}, #{familyname},#{familykey})
  </insert>

    <update id="updateFamily" parameterType="Family">
    UPDATE ACCOUNT SET
          FAMILYID =  #{familyid},
          FAMILYNAME =  #{familyname},
          FAMILYKEY = #{familykey}
    WHERE FAMILYID = #{familyid}
    </update>

    <delete id="deleteFamily" parameterType="String">
    DELETE FROM family
    WHERE FAMILYID = #{familyid}
  </delete>

    <select id="getAllFamily" resultType="Family">
    SELECT
      SELECT
          FAMILYID,
          FAMILYNAME,
          FAMILY.FAMILYKEY
    FROM FAMILY
    </select>


</mapper>